$color-principal: #ffffff;
$color-principal-dark: #000000;
$color-principal-hover: #D7FF36;
$color-spotify-hover: #FC4137;
$color-plantome-hover: #008F28;
$color-footer: #ffffff;
$color-footer-hover: #0088c2; 
$color-txt-footer: #404040;
$color-bg-spotify: #F6BE60;
$color-bg-plantome: #E2DACD;